body
{
	background: #E9EAED url('../images/bodybg.gif') repeat-x;
	padding-top: 60px;
	overflow: scroll;

	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 11px;
}

h1 {
	text-align: center;
}

h3 {
	clear: both;
	text-align: center;
	margin: 0px;
}

.item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
	height: 300px;
}

.card {
	width: auto;
	background-color: white;
	margin: 0px;
}

.card img {
	border: 2px solid #3B5998;
	border-radius: 10px;
}

.status {
	padding: 10px;
	background-color: white;
	border: 1px solid #D3D6DB;
	border-radius: 4px;
	overflow: hidden;
	padding-bottom: 0;
	margin-bottom: 10px;
}

.status p {
	border-bottom: 1px solid #e9eaed;
	margin: 0px;
	padding-bottom: 5px;
}

.statusnums {
	float: right;
}

.input-append {
	margin: 0px;
}

.mutualFriends {
	display : -webkit-flex;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: space-around;
}

.mutualfriend {
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 0;
}

.mutualfriend img{
	width: 40px;
	height: 40px;
}

.row {
	margin-top: 0px;
}

.bottomImage {       
	position: relative;
	bottom: 30px;		       
	float: left;	
	margin-bottom: -40px;			
	width: 100%;			
}	

.thumboverflowwrapper .bottomImage {
	bottom: 80px;
}		
				
.bottomImage .statusnums{			
	float: right;			
	margin-right: 25px;			
}			
			
.images {			
    overflow: hidden;			
    height: 500px;			
}

.caption {
	float: left;
	color: white;
	margin-left: 15px;
	font-size: larger;
}

.statusnums img {
	vertical-align: middle;
	width: 20px;
	margin-bottom: 5px;
	margin-top: 2px;
}

.statusnums{
	margin-top: 2px;	
	color: white;
	font-weight: bold;
}

.status .statusnums{
	color: #333333;
}

/*What a great class name. Yee.*/
.shiddy{
	text-shadow: 0px 0px 7px black, 0px 0px 10px black;
}

.largepic {
	width: 100%;
	height: 300px;
}

.smallImages {
	overflow: hidden;
	margin-top: 10px;
	display : -webkit-flex;
}

.thumboverflowwrapper {
	overflow: hidden;
	max-height: 150px;
}

.thumbwrapper {
	padding: 3px;
	border: 1px solid #ccc;
	margin-left: 4px;
}

.thumb img {
	width: 100%;
	height: 100%;
}

#intro p {
	font-size: 20pt;
	line-height: normal;
}

#login form, #login h2{
	margin: 0px;
}

#search-button {
	height:30px;
}

#search-field {
	width: 300px;
}

#login {
	width: 200px;
}

#search {
	text-align: center;
}


#login, #search, #results, #intro, .card {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	background-color: #eeeeee;
}

/* styles already in file */

#container
{
	width: 600px;
	border: 10px solid #5A7497;
	background-color: #ffffff;
	margin: auto;
	
	-moz-border-radius: 15px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}
#header
{
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-bottom: 1px solid #5A7497;
	background: url('../images/headerbg.gif') repeat-x;
}
#logo
{
	margin-left: 50px;
	margin-top: 1px;
	vertical-align: bottom;
}
#nav
{
	list-style-type: none;
	float: right;
	margin: 0;
	padding: 0;
}
#nav a
{
	display: inline-block;
	color: inherit;
	text-decoration: none;
	padding: 20px;
	text-align: center;
}
#nav li
{
	display: inline-block;
}

#main
{
	margin: 10px;
}
#main a
{
	color: black;
}
#main .section, #main .success
{
	padding: 10px;
	background-color: #ECF2F7;
	border: 1px solid #C2D2E2;
}
#main .success
{
	text-align: center;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}
#main .section .section_header
{
	line-height: 15px;
}
#main .section .section_header h1
{
	font-size: 17px;
	margin-bottom: 4px;
}
#main .section .section_header p
{
	border-bottom: 1px solid #C2D2E2;
	color: #666;
	text-indent: 0;
	margin: 0;
	padding: 0;
	padding-bottom: 5px;
	font-size: 13px;
	font-weight: bold;

}
#main .section p
{
	text-align: justify;
	text-indent: 15px;
}
.clearer
{
	clear: both;
}
#footer
{
	border-top: 1px dashed #C2D2E2;
	text-align: right;
	font-size: 11px;
	margin: 5px;
}
.titlebar
{
	color: #FFFFFF;
	font: 15px "Arial";
	font-weight: bold;
	text-transform: capitalize;
	margin-top: 20px;
	padding-left: 10px;
	background: url('../images/headerbg.gif') repeat-x;
	border: 1px solid #63839F;
	height: 30px;
	line-height: 30px;
	text-align: left;
}

a img
{
	border: 0;
}

/* Exception Formatting */
div.exception
{
	border: 1px solid black;
	background-color: #CFA8A8;
}
.exception .exception_title
{
	font: 14px "Verdana";
	padding: 5px;
	border-bottom: 1px solid black;
	background-color: #EFE0E0;
}
.exception .exception_info
{
	padding: 10px;
}
.exception .exception_stack
{
	margin-top: 10px;
}